<div class="container mt-4">
    <div class= 'card shadow rounded border-0'>
        <div class="card-header bg-success text-white d-flex align-items-center justify-content-between">
            <h2 class="mb-0">Lista de la compra</h2>
            <button class="btn btn-outline-light me-2" (click)="clearList()">Vaciar Lista</button>
        </div>
    </div>
    <ul class="list-group mb-3">
        <li *ngFor="let ingredient of ingredients"
            class="list-group-item d-flex align-items-center justify-content-between">
            <i class="bi bi-basket3-fill text-success fs-4 me-3"></i>
            <span class="flex-grow-1 text-capitalize">{{ ingredient }}</span>
            <button class="btn btn-sm btn-outline-danger" (click)="removeIngredient(ingredient)"
                aria-label="Eliminar ingrediente">
                <i class="bi bi-trash"></i>
            </button>
        </li>
    </ul>

</div>