<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm rounded">
        <div class="card-body">
          <h3 class="card-title text-center text-success">Iniciar Sesión</h3>

          <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input 
                formControlName="email" 
                id="email" 
                type="email" 
                class="form-control" 
                [class.is-invalid]="f.email.invalid && f.email.touched"
              >

            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <input 
                formControlName="password" 
                id="password" 
                type="password" 
                class="form-control" 
                [class.is-invalid]="f.password.invalid && f.password.touched"
              >

            <button type="submit" class="btn btn-success w-100" [disabled]="loginForm.invalid">Entrar</button>

            <div class="text-danger mt-3 text-center" *ngIf="errorMessage">{{ errorMessage }}</div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
