<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm rounded">
        <div class="card-body">
          <h3 class="card-title text-center text-success">Iniciar Sesión</h3>

          <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="mb-3">
              <label for="email" class="form-label">Correo electrónico</label>
              <input formControlName="email" id="email" type="email" class="form-control" maxlength="50">
            </div>

            <div class="mb-3">
              <label for="password" class="form-label">Contraseña</label>
              <div class="input-group">

                <input [type]="showPassword ? 'text' : 'password'" formControlName="password" id="password" maxlength="30"
                  class="form-control">
                <button type="button" class="btn btn-outline-secondary" (click)="togglePassword()" tabindex="-1">
                  <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
                </button>
              </div>
            </div>

            <button type="submit" class="btn btn-success w-100">Entrar</button>
          </form>

          <div class="text-danger mt-3 text-center" *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show" *ngIf="showModal" style="display: block;"></div>

<div class="modal fade show" *ngIf="showModal" tabindex="-1" style="display:grid;" aria-modal="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title card-title text-center text-success">Sesion iniciada correctamente</h5>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success w-100" (click)="closeModal()">Continuar</button>
      </div>
    </div>
  </div>
</div>