body {
  background-color: #B7E4C7 !important;
  font-family: 'Segoe UI', sans-serif;
  text-transform:initial uppercase;

}

.card {
  border-radius: 1rem;
  
}

.btn-success {
  border-radius: 0.5rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0.5rem;
}

/* You can add global styles to this file, and also import other style files */
