body {
  background-color: #2e6093 !important;
  font-family: 'Segoe UI', sans-serif;
  text-transform: capitalize;

}

.card {
  border-radius: 1rem;
  
}

.btn-success {
  border-radius: 0.5rem;
  font-weight: 500;
}

.form-control {
  border-radius: 0.5rem;
}

