<div class="container mt-4 mb-5">
  <div class="card shadow rounded border-0">
    <div class="card-header bg-success text-white">
      <h2 class="mb-2">Recetas favoritas</h2>
      <p class="mb-0 fst-italic"> El rincón especial donde tus recetas favoritas cobran vida</p>
    </div>

    <div class="card-body">

      <div *ngIf="favoriteRecipes.length === 0 && !loading" class="alert alert-info text-center">
        No tienes recetas favoritas aún.
      </div>

      <div *ngIf="favoriteRecipes.length > 0">
        <div *ngFor="let recipe of favoriteRecipes" class="favorite-row d-flex align-items-center justify-content-between p-3 mb-3 rounded shadow-sm">
          <div class="d-flex align-items-center">
            <img [src]="'assets/' + recipe.image" alt="{{ recipe.name }}" class="fav-img me-3 rounded">
            <a [routerLink]="['/recipes', recipe.id]" class="fav-name text-success text-decoration-none fs-5">
              {{ recipe.name }}
            </a>
          </div>
          <button class="btn btn-danger btn-sm" (click)="removeFromFavorites(recipe.id)">
            Eliminar
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
