<nav class="navbar navbar-expand-lg navbar-dark bg-success shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">Recetas de Yanira</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Menú principal a la izquierda -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/recipes">Recetas</a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/favorites" routerLinkActive="active">Favoritos</a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Lista de la compra</a>
        </li>
      </ul>

      <!-- Menú a la derecha -->
      <ul class="navbar-nav ms-auto">
        <!-- Mostrar solo si NO está logueado -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Registrarse</a>
          </li>
        </ng-container>

        <!-- Mostrar solo si está logueado -->
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="logout()" style="cursor: pointer;">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
