.navbar {
  background-color: #ff6b6b;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.nav-links a {
  color: rgb(0, 0, 0);
  margin-left: 1rem;
  font-weight: 500;
}
